<div *ngIf="!!node" style="max-width: 220px;">
  <img class="card-img-top" src="{{ imageSrc }}" alt="Screenshot" (click)="onScreenshotClicked()">
  <div class="card-body">
    <div class="card-title">
      {{ node.name }}
      <div class="float-right">
        <div class="dropdown">
          <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">arrow_drop_down</i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="onRefreshClicked()"><i class="material-icons">refresh</i> Refresh</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="material-icons">play_arrow</i> Start process</a>
            <a class="dropdown-item" (click)="onTerminateProcessClicked()"><i class="material-icons">stop</i> Terminate process</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
